<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="../../assets/images/riya.jpeg" alt="Card image cap">
        <div class="card-block">
          <h3 class="card-title">Riya Varyani</h3>
          <p class="card-text">Web Developer</p>
        </div>
        <div class="card-action">
          <a href="https://www.instagram.com/_riyav/" target="_blank"><fa name="instagram"></fa></a>
          <a href="riyavaryani01@gmail.com" target="_blank"><fa name="envelope"></fa> </a>
          <a href="https://www.linkedin.com/in/riya-varyani-670709172/" target="_blank"><fa name="linkedin"></fa> </a>
          <a href="https://github.com/riyavaryani" target="_blank"><fa name="github"></fa> </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="../../assets/images/sagar.jpeg" alt="Card image cap">
        <div class="card-block">
          <h3 class="card-title">Sagar Adval</h3>
          <p class="card-text">Web Developer</p>
        </div>
        <div class="card-action">
          <a href="https://www.instagram.com/sagar_adval" target="_blank"><fa name="instagram"></fa></a>
          <a href="sagaradval@gmail.com" target="_blank"><fa name="envelope"></fa> </a>
          <a href="https://www.linkedin.com/in/sagar-adval-113091192" target="_blank"><fa name="linkedin"></fa> </a>
          <a href="https://github.com/sagar-adval" target="_blank"><fa name="github"></fa> </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="../../assets/images/utkarsh.jpeg" alt="Card image cap">
        <div class="card-block">
          <h3 class="card-title">Utkarsh Chakravarty</h3>
          <p class="card-text">Web Developer</p>
        </div>
        <div class="card-action">
          <a href="https://www.instagram.com/_foxy__mister_/" target="_blank"><fa name="instagram"></fa></a>
          <a href="chakravartyutkarsh@gmail.com" target="_blank"><fa name="envelope"></fa> </a>
          <a href="https://www.linkedin.com/in/utkarsh-chakravarty-82a2a1194/" target="_blank"><fa name="linkedin"></fa> </a>
          <a href="https://github.com/utchak160" target="_blank"><fa name="github"></fa> </a>
        </div>
      </div>
    </div>
  </div>
</div>
