<div class="navbar navbar-inverse navbar-fixed-top">
  <app-navbar></app-navbar>
</div>
<header class="hero_image">
    <div class="hero_wrapper">
      <h1>A Powerful Web Based Legal Case Management Software</h1>
      <p>Never lose track of important case documents, messages, or prospective clients — our trusted case management software keeps everything organized and easily accessible from anywhere.Track, manage, bill with the highest efficiency and least stress anywhere, anytime.
        It is fully web-based, secure and reliable!</p>
    </div>
</header>
<div id="main" class="body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 col-lg-4 col-sm-2">
        <app-left-menu></app-left-menu>
      </div>
      <div class=" form col-6 col-lg-6 col-sm-4">
        <h1 style="text-align: center; font-weight: bold">Register Here!</h1>
        <app-register></app-register>
      </div>
    </div>
  </div>
</div>
<app-features></app-features>
<div class="dev-team">
  <div class="container">
    <div class="row">
      <h1>Development Team</h1>
      <app-team></app-team>
    </div>
  </div>
</div>



