<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="left-box">
      <ul class="list-group list-group-flush">
        <h1>HIGHLIGHTS</h1>
        <li class="list-group-item"><mat-icon style="color: green">menu_book</mat-icon><i class="fal fa-book-open"></i>Overview</li>
        <li class="list-group-item"><mat-icon style="color: brown">person_pin</mat-icon> For Lawyer</li>
        <li class="list-group-item"><mat-icon style="color: black">person_outline</mat-icon>For Judge</li>
        <li class="list-group-item"><mat-icon>live_help</mat-icon>For Assistance</li>
      </ul>
    </div>
  </div>
</div>
