<mat-toolbar>
  <mat-toolbar-row style="background: #adad85; position: fixed">
    <img src="../../assets/images/logo.png" style="width: 80px; height: 50px; border-radius: 5rem">
    <span><h1>E-Court System</h1></span>
    <span class="example-spacer"></span>
    <a href="#"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>
    <a href="#"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon></a>
    <a href="#"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example live_help icon">live_help</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>


